body{
    font-family:sans-serif;
    font-size:10px;
    padding:20px;


}
.frame{

    margin:auto;
    max-width:1000px;

}
h1{
    text-align :center;
    margin-bottom:20px;
}
.navi{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;

}
img {
  
  
}
